<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title%></title>
    <%- include('partials/head')%>
</head>
<body>

    <%- include('partials/navigation')%>

    <main class="vh-100 container pt-2 text-center d-flex justify-content-center align-items-center">
        <section>
    
    <h1 class="display-1">About</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit officiis expedita, neque dicta iure adipisci ratione! Sint harum quis expedita, doloribus mollitia corrupti qui magnam alias. Illo dolor voluptatum dicta corporis blanditiis ducimus, impedit esse assumenda perferendis exercitationem itaque molestias ab architecto enim consectetur saepe delectus corrupti reiciendis nemo amet eum numquam. Molestias quo eos ducimus at dicta quas asperiores dolorum hic laboriosam. Cupiditate dignissimos non deleniti hic ducimus tempore libero veritatis dolorum culpa facere ut fugit aliquam consequatur quae et repudiandae dolore eaque necessitatibus perferendis voluptate, omnis quidem quod rerum. Quibusdam dolor ducimus vero voluptatum molestiae non magni quaerat temporibus nihil deleniti repudiandae hic porro voluptate, recusandae amet praesentium voluptas quae. Nulla beatae at, nemo placeat recusandae, libero eum sapiente incidunt ratione ea non culpa repellendus? Inventore, ipsam praesentium. Modi suscipit saepe magnam veritatis ea consequuntur asperiores omnis in, ipsam magni consectetur dicta eveniet nam sit similique ipsum rem adipisci accusantium ad assumenda ullam sint. At provident mollitia, placeat itaque vero eaque. Omnis reprehenderit, obcaecati assumenda non ducimus numquam inventore maiores et quidem, laborum nulla recusandae facere, fuga cupiditate voluptas. Blanditiis accusamus nam quas voluptatum maxime, quod quasi ullam possimus voluptate omnis rem adipisci exercitationem, iste illo deleniti error?</p>
</section>
    </main>

    <%- include('partials/footer')%>
</body>
</html>